@import url(https://fonts.googleapis.com/css?family=Merriweather);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
} 

a {
	font-family: merriweather, georgia, serif;
	font-weight: 700;
	color: red;
}

a:link {
	text-transform: uppercase;
	letter-spacing: 1px;
}

a:visited {	
	color: #red;
}

a:hover {
	border-bottom: 1px solid #fff;
}

a:active {
	color: green;
}

h1, h2, h3 {
	font-family: merriweather, georgia, serif;
	font-weight: 800;
	font-size: 2em;
	line-height: 1.6em;
	color: #222;
}

h1 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.5em;
}

p {
	font-family: merriweather, georgia, serif;
	font-size: 16px;
	line-height: 1.6em;
	font-weight: normal;
	color: #000;
}

header {
	position: relative;
	background-color: #FFED74;
	border: 1px black solid;
    padding: 20px;
}

header h1 { color: black; }

nav {
	position: absolute;
	right: 2em;
	bottom: 2.75em;
	background-color: #E8C66A;
	font-size: .75em;
}

nav a {
	color: #000;
	text-decoration: none;
	display: inline-block;
	margin-right: 1em;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
    padding: 20px;
    text-align: center;
}

footer a {
	font-size: .85em;
	color: black;
	letter-spacing: 1px;
	margin-left: 1em;
	text-decoration: none;
	text-align: center;
}

#overview, #two_column, #left, #right, .aside {
	border: 1px black solid;
    padding: 20px;
}

#overview {
	background-color: #E89C6C;
}

#two_column {
	background-color: #FFB7CF;
}

#left {
	background-color: violet;
    float: left;
    width: 30%;
}

#right {
	background-color: pink;
    float: right;   
    width: 62%;
}

.aside {
	background-color: #FFC675;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	height: 0;
	font-size: 0;
	content: " ";
	clear: both;
}