@import url(https://fonts.googleapis.com/css?family=Merriweather);

* {
	padding: 0;
	margin: 0;
} 

h1 {
	font-family: merriweather, georgia, serif;
	font-weight: 700;
	font-size: 38px;
	line-height: 1.25em;
}

p {
	font-family: merriweather, georgia, serif;
	font-size: 48px;
	line-height: 1.25em;
	text-align: left;
	color: #fff;
}

a {
	font-family: merriweather, georgia, serif;
	font-size: 30px;
	font-weight: 500;
	color: #000;
	text-decoration: none;
	top: 2%;
	bottom: 2%;
	margin-left: 2%;
}

img { width: cover; }

span.robin { color: #fff; }

footer {
	min-height: 150px;
	padding: 2%;
/*	background-color: #e32e2e (orangey-red);
*/	background-color: #8df3fe;
}

.introduction, .case-study {
	position: relative;
	width: 100%;
	height: 600px;
}

.introduction {
	background-color: #222222;
	padding: 10%;
}

.introduction h1 {
	position: absolute;
	top: 2%;
	left: 2%;
	width: 100%;
	color: #8df3fe;
}

.introduction .content {
	position: absolute;
	left: 10%;
	bottom: 25%;
	width: 40%;
	color: #000;
}
.icon-small {
	position: absolute;
	bottom: 115%;
	left: 0;
	width: 9%;
	height: auto;
	border-radius: 50%;
	background: white;
	z-index: 100;
}

.icon-small img {
	margin: 10%;
	width: 80%;
	height: auto;
}
.icon-large {
	position: absolute;
	bottom: -5em;
	left: 5%;
	width: 11%;
	height: auto;
	border-radius: 50%;
	background: #8df3fe;
	z-index: 10;
}

.icon-large img {
	margin: 25%;
	width: 50%;
	height: auto;
}

.case-study p {
	position: absolute;
	left: 10%;
	bottom: 10%;
	width: 35%;
	color: #000;
	background-color: none;
}

#case1 { background-image: url("../images/superfine.jpg"); }
#case2 { background-image: url("../images/superfine.jpg"); }
#case3 { background-image: url("../images/superfine.jpg"); }
